/* Add CSS Styling */
.odd-class {
    background-color: hsl(5, 100%, 85%);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

.cool {
    font-size: 24px;
}

#four {
    background-color: hsl(120, 100%, 70%);
    font-weight: bold;
}