/* Add CSS Styling */
.black {
    background-color: #000000;
    color: hsl(0,0%,100%);
}

.yellow {
    background-color: #ffff00;
}

.black,
.yellow {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}